[snowflake]
account = <SNOWFLAKE ACCOUNT>
user = <SNOWFLAKE USERID>>
private_key_path = "./secrets/rsa_key.p8"
database="<SNOWFLAKE_DB_NAME>"
schema="SNOWFLAKE_SCHEMA_NAME"
role="<SNOWFLAKE_ROLE_NAME">

raw_stage= "RAW"
processing_stage= "PROCESSING"
complete_stage= "COMPLETE"
error_stage= "ERROR"
